<%- include('partials/header');%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class-="mb-3">
        <label for="text" class="form-label">Title</label>
        <input type="text" name="title" autocomplete="off" class="form-control">
        <label for="text" class="form-label" >Post</label>
        <textarea class="form-control"  rows="3" name="blog"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mar-btn">Publish</button>
</form>
<%- include('partials/footer');%>